@{ 

}
@model person
<h1>Employee content</h1>

<ul class="list-group list-group-flush">
    
    <li class="list-group-item">Firstname:@Model.firstname </li>
    <li class="list-group-item">Lastname:@Model.lastname</li>
    <li class="list-group-item">Address:@Model.Address</li>
    <li class="list-group-item">Sex:@Model.Sex</li>
    <li class="list-group-item">Salary:@Model.Salary</li>
</ul>